<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login V18</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/images/icons/favicon.ico}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/fonts/Linearicons-Free-v1.0.0/icon-font.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <!--===============================================================================================-->
</head>
<body style="background-color: #fff3cd;">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Totpro Technology</a>
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
        <i class="bi bi-search"></i>
  </span>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ml-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{'/home/'}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/view_cart/'}">Cart</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/view_wishlist/'}">Wishlist</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{'/logout/'}">Logout</a>
            </li>
        </ul>
    </div>
</nav>
<div class="limiter container">
    <h1 class="mt-3 md-3">${appUser.getFullName()}</h1>
    <table class="table table-hover table-danger table-striped mt-3 md-3">
        <thead>
        <tr>
            <th scope="col">ProductName</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Remove</th>
            <th scope="col">Add to Cart</th>


        </tr>
        </thead>
        <tbody  class = "table-info">
        <th:block th:each="product : ${productList}">
            <tr>
                <td>[[${product.ProductName}]]</td>
                <td>[[${product.Category}]]</td>
                <td>[[${product.Price}]]</td>
                <td><a th:href="@{'/remove_from_wishlist/' + ${product.id}}" type="button" class="btn btn-danger btn-sm">Remove</a></td>
                <td><a th:href="@{'/add_to_cart/' + ${product.id}}" type="button" class="btn btn-info btn-sm">Add to Cart</a></td>

            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<!--===============================================================================================-->
<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
<script th:src="@{/js/main.js}"></script>